@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root{
    --color-first:#0D192B;
    --color-second:#14253D;


    --color-text-first:#2F415B;
    --color-text-second:#00FFF7;
}

*{
    font-family: 'Outfit', sans-serif;
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

body{
    background-color:var(--color-first);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.main{
    background-color:var(--color-second);
    width:310px;
    min-height:60vh;
    border-radius:15px;
}

.container{
    display:flex;
    flex-direction:column;
    padding:15px;
    gap:16px;
}

.container-img{
    display:flex;
    flex-direction:column;
}
.img{
    height:270px;
    border-radius:15px;
}

.container-description{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.container-description-titulo{
    color:#fff;
}

.container-description-texto{
    color:var(--color-text-first);
    font-size:18px;
    line-height:24px;
}

.container-dados{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    border-bottom: 1px solid var(--color-text-first);
    padding-bottom:20px;
}

.sub-container-dados-valor{
    display:flex;
    flex-direction:row;
    color:var(--color-text-second);
    gap:8px;
}

.sub-container-dados-dias{
    display:flex;
    flex-direction:row;
    color:#8BACD9;
    gap:8px;
}

.container-criador{
    display:flex;
    flex-direction:row;
    margin-top:10px;
    align-items:center;
}

.container-criador-img{
    width:10%;
    border-radius:100%;
    border:#fff solid 1px;
}

.container-criador-nome{
    color:#fff;
    margin-left:5px;
}

.container-criador-texto{
    color:#8BACD9;
    margin-left:10px;
}